.home{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.Pagination{
        margin: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;   
}
.createContainer{
    align-items: center;
    justify-content: space-around; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.create{
    border-radius: 8%;
    align-items: center;
    justify-content: space-around; 
    background-color: #404040;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;  
}
.create:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.ContainerRecipes{
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
}
.refresh{
    background-color: #404040;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;  
}
.refresh:hover{
transform: translateY(-4px);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}    