.filters{
        margin: 5px;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content:space-around;   
        background-color: #404040;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filterDiet{
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #404040;
}
.filterDietSelect{
        font-weight: bolder;
        border-radius: 3px;
}

.orderAlphabet{
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #404040;
}
.orderHealtScore{
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #404040;
}

.orderAlphabetSelect{
        font-weight: bolder;
        border-radius: 3px;
}
.orderHealtScoreSelect{
        font-weight: bolder;
        border-radius: 3px;
}